.single-x-portfolio {
  .hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.3);
      z-index: 0;
    }

    .x-container {
      position: relative;
    }
  }

  .featured-links {
    ul {
      margin-left: 0;
      list-style-type: none;
      column-count: 4;
    }
  }

  .item:first-of-type {
    h5 {
      margin-top: 0;
    }
  }

  .fred-widget {
    width: 100%;
    min-height: 500px;
  }

  .graph {
    padding-bottom: 40px;

    iframe {
      min-height: 500px;
      width: 100%;
    }
  }
}
