p {
  color: var(--color-gray);
}

.x-main {
  a {
    color: var(--color-orange) !important;

    &:hover, &:active, &:focus {
      color: var(--color-orange-hover) !important;
    }

    &.btn {
      padding: 0.563em 1.125em 0.563em !important;
      background-color: var(--color-orange);
      color: var(--color-white) !important;
      border: 1px solid #ff9f4c;

      &:hover, &:active, &:focus {
        background-color: var(--color-orange-hover) !important;
        border: 1px solid #ff9f4c;
      }
    }
  }
}
