:root {

  	--color-white: #ffffff;

    --color-orange: #FF7600;
    --color-orange-hover: #ff9f4c;

    --color-blue: #0A4EFC;

    --color-light-gray: #F9F9FA;
    --color-gray: #363A3E;

    --font-family-primary: "proxima-nova",sans-serif;
}
